<form [formGroup]="form">
  <div class="form-group">
    <label for="">User Name</label>
    <input 
      formControlName="username"
      id="username"
      type="text"  
      class="form-control">
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">Username should have minimum {{username.errors.minlength.requiredLength}} charactors.</div>
        <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space.</div>
        <div >Username is already taken.</div>
      </div>
  </div>  
  <div class="form-group">
      <label for="">Password</label>
      <input 
        formControlName="password"
        id="password"
        type="text" 
        class="form-control">
    </div>
    <button class="btn btn-primary">Signup</button>
</form>