<form [formGroup]="form">
  <div class="form-group"> 
      <label for="oldPassword">Old Password</label>
      <input 
      formControlName="oldPassword" 
      id="oldPassword" 
      type="text"
      class="form-control">
      <div *ngIf="_form('oldPassword').pending">Matching password....</div>
      <div *ngIf="_form('oldPassword').touched && _form('oldPassword').invalid" class="alert alert-danger">
         <div *ngIf="_form('oldPassword').errors.required">Old Password is required.</div>
         <div *ngIf="_form('oldPassword').errors.matchPassword">Old Password not is same.</div>
    </div>
  </div>
    <div class="form-group">
        <label for="">New Password</label>
        <input formcontrolName ="newPassword" id="newPassword" class="form-control" type="text">
        <div *ngIf="_form('newPassword').touched && _form('newPassword').invalid" class="alert alert-danger">
          <div *ngIf="_form('newPassword').errors.required"> New Password is required.</div>
        </div>
      </div>
      <div class="form-group">
          <label for="">Confirm Password</label>
          <input class="form-control" type="text">
        </div>
        <button class="btn btn-primary">Change Password</button>
</form>